/* RESET */
/* Taken from: https://www.joshwcomeau.com/css/custom-css-reset/ */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* CUSTOM */

:root {
  --color-loader-bg: rgb(73, 80, 88);
  --color-articles-list-bg: #f3f6fa;
  --color-scene-bg: rgb(73, 80, 88);
  --color-scene-container-bg: white;
  --color-border: #d0d8e0;
  --color-article-hover: rgb(233, 238, 241);
  --color-article-active: rgb(233, 238, 241);
  --color-comments-count: #777;
  --color-comment-bg: #f3f6fa;
  --color-reply-form-bg: rgb(233, 238, 241);
  --color-primary-btn-bg: black;
  --color-secondary-btn-bg: transparent;
  --color-secondary-btn-bg-hover: rgb(222, 228, 231);
  --color-primary-btn-text: white;
  --color-secondary-btn-text: black;

  --scene-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5),
    0 0 18px -10px rgba(0, 0, 0, 0.5);
  --scene-container-offset: calc(var(--space) * 1.8);

  --space: 1em;
  --speed: 0.2s;
  --radius: 8px;
}

@media screen and (max-width: 850px) {
  :root {
    --scene-container-offset: var(--space);
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
